$green: #549f58;
$background: #fbfbfb;
$border_color: #dfe2e9;
$green_pale: #549f58c5;
$gray: #898989;
$white: #ffff;
$header_background: #282d30;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $background;
  font-size: 14px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// HEADER
#main {
  position: relative;
  #first {
    display: flex;
    justify-content: space-between;
    background-color: $header_background;
    color: $white;
    padding: 16px 10%;
    font-size: 12px;
    h4 {
      font-weight: normal;
    }
    select {
      background: inherit;
      color: $white;
      border: none;
      display: flex;
    }
  }

  #second {
    position: sticky;
    top: 0; /* Adjust this value as needed */
    display: flex;
    padding: 16px 10%;
    background-color: $white;
    align-items: center;
    z-index: 100;
    justify-content: space-between;
    .logo {
      width: 50px;
    }
    .links {
      display: flex;
      gap: 25px;
      a {
        text-decoration: none;
      }
      .thisa {
        color: black;
        border-bottom: 1px solid $green;
        padding-bottom: 5px;
        font-weight: 600;
        color: black;
      }
      .othera {
        color: $gray;
        font-weight: 600;
      }
      .othera:hover {
        color: black;
        transition: all ease-in-out 0.2s;
        border-bottom: 1px solid $green;
      }
    }
    .buttons {
      display: flex;
      gap: 10px;

      .likeButton {
        padding: 12px 14px;
        background: $white;
        border: 1px solid $border_color;
        border-radius: 5px;
      }
      .basket {
        padding: 12px 14px;
        background: $white;
        border: 1px solid $border_color;
        color: $gray;
        font-size: 16px;
        border-radius: 5px;
      }
      .loginbtn {
        padding: 12px 20px;
        background: $green;
        border: none;
        color: $white;
        font-size: 16px;
        border-radius: 5px;
      }
      .fa-circle-user {
        background-color: $green;
        color: $white;
        font-size: 25px;
        padding: 10px;
        border-radius: 5px;
        display: none;
      }
      .fa-bars {
        font-size: 20px;
        display: none;
      }
    }
  }

  .hiding_menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 25px;
    width: 100%;
    height: 100vh;
    background-color: $white;
    z-index: 100;
    position: fixed;
    a {
      text-decoration: none;
      color: black;
      font-size: 16px;
    }
  }

  #third {
    padding: 16px 10%;
    border-bottom: 1px solid $border_color;
    h1 {
      display: flex;
      gap: 5px;
      font-size: 12px;
    }
    .home {
      text-decoration: none;
      color: #777;
    }
    .allproducts {
      text-decoration: none;
      color: black;
    }
  }

  .logo {
    width: 50px;
  }
  option {
    background-color: $white;
    color: black;
  }

 
}

// // // SWIPER
.carusel {
  padding: 2% 10%;
  .swiper {
    border-radius: 1rem;
    height: 600px;

    .swiper-pagination-bullet {
      width: 50px;
      height: 5px;
      border-radius: 10px;
    }
    .swiper-pagination-bullet-active {
      background-color: $green;
    }
    .swiper-wrapper {
      display: flex;
    }
    .swiper-slide {
      width: 100%;
      height: 100%;
      background-size: cover;
      // background-size: contain;
      // background-repeat: no-repeat;
      // background-position: center;
    }
  }
}

.wrapper {
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  .card {
    width: 280px;
    height: 440px;
    margin: 1% 0%;
    background-color: $white;
    background-size: cover;
    border-radius: 1rem;
    border: 1px solid $border_color;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card:hover {
    box-shadow: rgba(9, 30, 15, 0.2) 0px 0px 10px 0px;
    transition: all 0.3s ease-in-out;
  }
  .card_image {
    width: 100%;
    height: 65%;
  }
  .card_button {
    background-color: $green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: $white;
    border: none;
    width: 80%;

    height: 36px;
    transition: all 0.2s;
    border-radius: 5px;
  }
  .card_button:hover {
    background-color: $green_pale;
  }
  .card_footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .fa-heart {
    font-size: 24px;
    color: $green;
  }
  .card_price {
    color: $gray;
    font-weight: 700;
  }
  .card_description {
    width: 100%;
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.title {
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 2% 10%;
  text-align: center;
  h1 {
    font-size: 44px;
  }

  h4 {
    color: $gray;
    margin-top: 18px;
    font-size: 17px;
  }
}

//////////////// About  us /////////////////
.about_wrapper {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .requisites {
    display: flex;
    flex-direction: column;
    gap: 35px;
    border: 1px solid $border_color;
    padding: 30px;
    border-radius: 1rem;
    .req_second {
      height: 100px;
      display: flex;
      gap: 25px;
      .req_logo {
        width: 150px;
        border: 0.5px solid $border_color;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
          width: 100px;
        }
      }
      .req_second_wrap {
        display: flex;
        gap: 200px;
        .req_second_item {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .element {
            display: flex;
            flex-direction: column;
            gap: 5px;
            h4 {
              font-weight: 100;
              color: $gray;
            }
          }
        }
      }
    }
    .req_third {
      display: flex;
      flex-direction: column;
      gap: 25px;
      color: $gray;
      font-weight: 600;
    }
  }
  .about {
    display: flex;
    flex-direction: column;
    border: 1px solid $border_color;
    padding: 30px;
    border-radius: 1rem;
    .second {
      display: flex;
      justify-content: space-between;
      .second_item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .element {
          display: flex;
          flex-direction: column;
          gap: 5px;
          h4 {
            font-weight: 100;
            color: $gray;
          }
          .socials {
            display: flex;
            gap: 15px;
            i {
              padding: 8px;
            }
            i:hover {
              background-color: #549f58;
              cursor: pointer;
              color: white;
              border-radius: 5px;
              transition: all ease-in-out 0.2s;
            }
          }
        }
      }
      iframe:focus {
        outline: none;
        border: none;
      }
    }
  }
}

// // // // // FOoter
#footer {
  margin-top: 50px;
  border-top: 1px solid #dbdbdb;
  #first {
    display: flex;
    padding: 2% 10%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    .f-div {
      display: flex;
      flex-direction: column;
      gap: 15px;
      h2 {
        font-size: 14px;
        color: #888;
        font-weight: normal;
      }
      h1 {
        font-size: 16px;
        font-weight: 600;
      }
      h1:hover {
        color: #549f58;
        cursor: pointer;
        transition: all ease-in-out 0.2s;
      }
    }
  }
  .socials {
    display: flex;
    gap: 15px;
    i {
      padding: 8px;
    }
    i:hover {
      background-color: #549f58;
      cursor: pointer;
      color: white;
      border-radius: 5px;
      transition: all ease-in-out 0.2s;
    }
  }

  #second {
    display: flex;
    justify-content: center;
    h1 {
      font-size: 14px;
      font-weight: 500;
    }
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1024px) {
  #main {
    .first {
      padding: 16px 20px;
    }
    .second {
      padding: 20px;
      .links {
        display: none;
      }
      .buttons {
        display: flex;
        align-items: center;
        .loginbtn {
          display: none;
        }
        .fa-circle-user {
          display: block;
        }
        .fa-bars {
          display: block;
        }
        .fa-bars:hover {
          color: $gray;
          cursor: pointer;
          transition: all ease-in-out 0.2s;
        }
      }
    }
  }
}
