@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-moz-selection {
  background-color: #fadb6e;
  color: #fff;
}

::selection {
  background-color: #fadb6e;
  color: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  background-color: #fbfbfb;
  line-height: 1.4;
  font-size: 14px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html {
  scroll-behavior: smooth;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #dfe2e9;
}

.fixedMenu {
  position: fixed;
  top: 80px;
  width: 100%;
}

#back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f8d24a;
  color: #000;
  border-radius: 100%;
  text-decoration: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 18px;
  transition: opacity 0.3s, visibility 0.3s;
}

#back-to-top:hover {
  background-color: #fadb6e;
}

.loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}
.loading img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
}

#main #first {
  display: flex;
  justify-content: space-between;
  background-color: #282d30;
  color: white;
  padding: 16px 10%;
  font-size: 12px;
}
#main #first h4 {
  font-weight: normal;
}
#main #first select {
  background: inherit;
  color: white;
  border: none;
  display: flex;
  outline: none;
}
#main #second {
  display: flex;
  padding: 16px 10%;
  background-color: white;
  align-items: center;
  justify-content: space-between;
}
#main #second .logo {
  width: 50px;
}
#main #second .links {
  display: flex;
  gap: 25px;
  font-size: 16px;
}
#main #second .links a {
  text-decoration: none;
  position: relative;
}
#main #second .links .thisa {
  color: #48545d;
  border-bottom: 2px solid #f8d24a;
  padding-bottom: 5px;
  font-weight: 500;
}
#main #second .links .othera {
  color: #8390a2;
  font-weight: 500;
}
#main #second .links .othera::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f8d24a;
  transition: width 0.3s ease;
}
#main #second .links .othera:hover::before {
  width: 100%;
}
#main #second .links .othera:hover {
  color: #49555e;
}
#main #second .buttons {
  display: flex;
  gap: 10px;
}
#main #second .buttons .likeButton {
  padding: 12px 14px;
  background: white;
  border: 1px solid #dfe2e9;
  border-radius: 5px;
  cursor: pointer;
}
#main #second .buttons .basket {
  padding: 12px 14px;
  background: white;
  border: 1px solid #dfe2e9;
  color: #8390a2;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
#main #second .buttons .loginbtn {
  padding: 12px 20px;
  background: #f8d24a;
  border: none;
  color: #000;
  font-size: 16px;
  border-radius: 5px;
}
#main #second .buttons .loginbtn:hover {
  background-color: #fadb6e;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
#main #second .buttons .fa-circle-user {
  background-color: #f8d24a;
  color: #000;
  font-size: 25px;
  padding: 10px;
  border-radius: 5px;
  display: none;
}
#main #second .buttons .fa-bars {
  display: none;
}
#main #second .buttons .ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#main #second .buttons .hamRotate.active {
  transform: rotate(45deg);
}
#main #second .buttons .hamRotate180.active {
  transform: rotate(180deg);
}
#main #second .buttons .line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}
#main #second .buttons .ham1 .top {
  stroke-dasharray: 40 139;
}
#main #second .buttons .ham1 .bottom {
  stroke-dasharray: 40 180;
}
#main #second .buttons .ham1.active .top {
  stroke-dashoffset: -98px;
}
#main #second .buttons .ham1.active .bottom {
  stroke-dashoffset: -138px;
}
#main .hiding_menu {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 25px;
  width: 100%;
  height: 100vh;
  background-color: #fbfbfb;
  z-index: 3;
}
#main .hiding_menu a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
#main .hiding_menu .thisa {
  color: black;
  border-bottom: 2px solid #f8d24a;
  padding-bottom: 5px;
  font-weight: 500;
}
#main .hiding_menu .othera {
  color: #8390a2;
  font-weight: 500;
}
#main .hiding_menu .othera:hover {
  border-bottom: 1px solid #f8d24a;
  color: black;
  transition: all ease-in-out 0.3s;
}
#main .fixed {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #dfe2e9;
  z-index: 1000;
}
#main .sticky {
  position: sticky;
  top: 0;
  border-bottom: 1px solid #dfe2e9;
}
#main #third {
  padding: 16px 10%;
  border-bottom: 0.5px solid #dfe2e9;
  background-color: white;
}
#main #third h1 {
  display: flex;
  gap: 5px;
  font-size: 12px;
}
#main #third .home {
  text-decoration: none;
  color: #bebfc9;
}
#main #third .home:hover {
  color: #48545d;
}
#main #third .allproducts {
  text-decoration: none;
  color: #48545d;
}
#main .logo {
  width: 50px;
}
#main option {
  background-color: white;
  color: black;
}

.carusel {
  padding: 0 10% 0 10%;
}
.carusel .swiper {
  border-radius: 1rem;
  height: 600px;
}
.carusel .swiper .swiper-pagination-bullet {
  width: 50px;
  height: 5px;
  border-radius: 10px;
}
.carusel .swiper .swiper-pagination-bullet-active {
  background-color: #f8d24a;
}
.carusel .swiper .swiper-wrapper {
  display: flex;
}
.carusel .swiper .swiper-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.wrapper {
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.wrapper .card {
  width: 24%;
  height: 440px;
  margin: 1% 0%;
  background-color: white;
  background-size: cover;
  border-radius: 1rem;
  border: 1px solid #dfe2e9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper .card:hover {
  box-shadow: rgba(9, 30, 15, 0.2) 0px 0px 10px 0px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.wrapper .card_image {
  width: 100%;
  height: 65%;
}
.wrapper .card_button {
  background-color: #f8d24a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #000;
  border: none;
  width: 85%;
  height: 36px;
  transition: all 0.2s;
  border-radius: 5px;
}
.wrapper .card_button:hover {
  background-color: #fadb6e;
}
.wrapper .card_footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .fa-heart {
  font-size: 24px;
  color: #f8d24a;
  padding: 5px;
}
.wrapper .fa-heart:hover {
  cursor: pointer;
  color: black;
  background-color: #f8d24a;
  transition: all ease-in-out 0.3s;
  border-radius: 0.3rem;
}
.wrapper .fill-heart:hover {
  cursor: pointer;
  color: white;
  background-color: #f8d24a;
  transition: all ease-in-out 0.3s;
  border-radius: 0.3rem;
}
.wrapper .card_price {
  color: #8390a2;
  font-weight: 700;
  margin-bottom: 10px;
}
.wrapper .card_no_image {
  width: 100%;
}
.wrapper .card_description {
  color: #48545d;
  width: 100%;
  max-height: 65px;
  overflow: hidden;
  font-weight: 500;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.title {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.title h1 {
  font-size: 42px;
  color: #48545d;
}
.title h4 {
  color: #8390a2;
  font-size: 15px;
  font-weight: 500;
}
.title .big-heart {
  font-size: 100px;
  color: #dfe2e9;
  margin-bottom: 20px;
}
.title .home_btn {
  margin-top: 45px;
  padding: 10px 25px;
  border: none;
  border-radius: 0.5rem;
  background-color: #f8d24a;
  font-weight: 600;
}
.title .home_btn:hover {
  background-color: #fadb6e;
}
.title .wrapper .card .card_footer .fa-heart:hover {
  color: white;
}
.title .wrapper .hidden {
  display: none;
}

.about_wrapper {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about_wrapper .requisites {
  display: flex;
  flex-direction: column;
  gap: 35px;
  border: 1px solid #dfe2e9;
  padding: 30px;
  border-radius: 1rem;
}
.about_wrapper .requisites .first h2 {
  color: #48545d;
  font-size: 24px;
}
.about_wrapper .requisites .req_second {
  height: 100px;
  display: flex;
  gap: 25px;
}
.about_wrapper .requisites .req_second .req_logo {
  width: 150px;
  border: 0.5px solid #dfe2e9;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_wrapper .requisites .req_second .req_logo .logo {
  width: 100px;
}
.about_wrapper .requisites .req_second .req_second_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 200px;
}
.about_wrapper .requisites .req_second .req_second_wrap .req_second_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about_wrapper .requisites .req_second .req_second_wrap .req_second_item .element {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.about_wrapper .requisites .req_second .req_second_wrap .req_second_item .element h4 {
  font-weight: 400;
  color: #8390a2;
}
.about_wrapper .requisites .req_second .req_second_wrap .req_second_item .element h3 {
  color: #48545d;
}
.about_wrapper .requisites .req_third {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #8390a2;
  font-weight: 600;
}
.about_wrapper .about {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfe2e9;
  padding: 30px;
  border-radius: 1rem;
}
.about_wrapper .about .first_about h2 {
  font-size: 22px;
  color: #48545d;
}
.about_wrapper .about .second {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.about_wrapper .about .second .second_item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.about_wrapper .about .second .second_item .element {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.about_wrapper .about .second .second_item .element h4 {
  font-weight: 400;
  color: #8390a2;
}
.about_wrapper .about .second .second_item .element h3 {
  color: #48545d;
}
.about_wrapper .about .second .second_item .element .socials {
  display: flex;
  gap: 15px;
  color: #48545d;
}
.about_wrapper .about .second .second_item .element .socials i {
  padding: 8px;
}
.about_wrapper .about .second .second_item .element .socials i:hover {
  background-color: #f8d24a;
  cursor: pointer;
  border-radius: 5px;
  transition: all ease-in-out 0.2s;
}
.about_wrapper .about .second iframe:focus {
  outline: none;
  border: none;
}

.single_product {
  padding: 0 10%;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.single_product .product_wrapper {
  display: flex;
  text-align: start;
  gap: 30px;
  background-color: white;
  padding: 30px;
  border: 1px solid #dfe2e9;
  border-radius: 1rem;
}
.single_product .product_wrapper .swiper {
  width: 390px;
  margin-left: auto;
  margin-right: auto;
}
.single_product .product_wrapper .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  border: 1px solid #dfe2e9;
  border-radius: 0.5rem;
}
.single_product .product_wrapper .swiper .swiper-slide img {
  display: block;
  width: 70%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.single_product .product_wrapper .swiper .mainSwiper {
  height: 300px;
}
.single_product .product_wrapper .swiper .thumbs {
  height: 100px;
  box-sizing: border-box;
  padding: 10px 0;
}
.single_product .product_wrapper .swiper .thumbs .swiper-slide-thumb-active {
  opacity: 1;
  border: 2px solid #f8d24a;
}
.single_product .product_wrapper .description_wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.single_product .product_wrapper .description_wrapper .desc span {
  font-size: 14px;
}
.single_product .product_wrapper .description_wrapper .desc h5 {
  font-size: 14px;
  color: #48545d;
}
.single_product .product_wrapper .description_wrapper span {
  color: #8390a2;
  font-size: 16px;
  font-weight: 500;
}
.single_product .product_wrapper .description_wrapper h3 {
  width: 300px;
  font-size: 24px;
  color: #48545d;
}
.single_product .product_wrapper .description_wrapper h5 {
  margin-top: 10px;
  font-weight: 400;
  line-height: 2;
}
.single_product .product_wrapper .description_wrapper h5 a {
  text-decoration: none;
  color: black;
  font-weight: 800;
}
.single_product .product_wrapper .description_wrapper hr {
  border: 0.5px solid #dfe2e9;
}
.single_product .product_wrapper .description_wrapper .counter {
  margin-top: 5px;
  display: flex;
  font-size: 25px;
  justify-content: space-between;
  width: 174px;
}
.single_product .product_wrapper .description_wrapper .counter .minus {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border: 1px solid #dfe2e9;
  color: #48545d;
}
.single_product .product_wrapper .description_wrapper .counter .plus {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 1px solid #dfe2e9;
  color: #48545d;
}
.single_product .product_wrapper .description_wrapper .counter .minus_unable {
  border: 1px solid #eceff7;
  color: #eceff7;
}
.single_product .product_wrapper .description_wrapper .counter .minus_able {
  border: 1px solid #dfe2e9;
  color: #48545d;
}
.single_product .product_wrapper .description_wrapper .counter .plus_unable {
  border: 1px solid #eceff7;
  color: #eceff7;
}
.single_product .product_wrapper .description_wrapper .counter .minus,
.single_product .product_wrapper .description_wrapper .counter .plus {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.single_product .product_wrapper .description_wrapper .counter .number {
  border: 1px solid #dfe2e9;
  width: 90px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}
.single_product .basket_wrapper {
  background-color: white;
  border: 1px solid #dfe2e9;
  border-radius: 1rem;
  width: 320px;
  text-align: start;
  height: 320px;
}
.single_product .basket_wrapper p {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.7;
  color: #8390a2;
}
.single_product .basket_wrapper p span {
  font-size: 13px;
  font-weight: 500;
  color: #48545d;
}
.single_product .basket_wrapper .count {
  padding: 10px;
}
.single_product .basket_wrapper .total {
  padding: 10px;
}
.single_product .basket_wrapper .total span {
  font-weight: 500;
  font-size: 16px;
}
.single_product .basket_wrapper hr {
  width: 100%;
}
.single_product .basket_wrapper .delivery {
  padding: 10px;
  position: relative;
}
.single_product .basket_wrapper .delivery h5 {
  font-weight: 400;
  padding-bottom: 10px;
}
.single_product .basket_wrapper .delivery span {
  font-weight: 500;
}
.single_product .basket_wrapper .delivery .address {
  font-size: 12px;
  font-weight: 400;
}
.single_product .basket_wrapper .delivery .delivery_wrap {
  border: 1px solid #dfe2e9;
  padding: 10px;
  border-radius: 0.5rem;
}
.single_product .basket_wrapper .delivery .delivery_wrap .select {
  cursor: pointer;
}
.single_product .basket_wrapper .delivery .delivery_variant {
  display: none;
  position: absolute;
  width: 94%;
  padding: 5px;
  box-shadow: rgba(9, 30, 15, 0.2) 0px 0px 10px 0px;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
.single_product .basket_wrapper .delivery .delivery_variant .del_var_el {
  border: 1px solid #dfe2e9;
  border-radius: 0.5rem;
  padding: 5px;
  cursor: pointer;
}
.single_product .basket_wrapper .delivery .delivery_variant .del_var_el:hover {
  border: 1px solid #f8d24a;
  transition: all 0.2s ease-in-out;
}
.single_product .basket_wrapper .delivery_footer {
  padding: 0 10px;
}
.single_product .basket_wrapper .delivery_footer .button {
  padding: 10px;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  background-color: #f8d24a;
  color: black;
  font-size: 16px;
}

.container {
  margin: 50px 10%;
  padding: 20px;
  border: 1px solid #dfe2e9;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  gap: 20px;
}
.container .image {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.container .image #hidden_btns {
  display: none;
}
.container .image img {
  border-radius: 0.5rem;
  border: 1px solid #dfe2e9;
  width: 120px;
  height: 150px;
}
.container h5 {
  color: #8390a2;
  font-size: 14px;
}
.container h4 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #48545d;
}
.container .hr {
  border: 0.5px solid #dfe2e9;
}
.container span {
  color: #8390a2;
  font-size: 14px;
}
.container .infos {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.container .infos .first_info h5 {
  color: #48545d;
}
.container .infos .second_info {
  display: flex;
  gap: 20px;
}
.container .infos .second_info .left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.container .infos .second_info .left h5 {
  margin-top: 10px;
}
.container .infos .second_info .left input {
  width: 170px;
  outline: none;
  height: 35px;
  padding: 10px;
  border-radius: 0.5rem;
  border: 1px solid #dfe2e9;
  color: #48545d;
  font-size: 15px;
}
.container .infos .second_info .left .counter {
  display: flex;
  font-size: 25px;
  justify-content: space-between;
  width: 170px;
}
.container .infos .second_info .left .counter .minus {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border: 1px solid #dfe2e9;
  color: #48545d;
  cursor: pointer;
}
.container .infos .second_info .left .counter .plus {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 1px solid #dfe2e9;
  color: #48545d;
  cursor: pointer;
}
.container .infos .second_info .left .counter .minus_unable {
  border: 1px solid #eceff7;
  color: #eceff7;
}
.container .infos .second_info .left .counter .minus_able {
  border: 1px solid #dfe2e9;
  color: #48545d;
}
.container .infos .second_info .left .counter .plus_unable {
  border: 1px solid #eceff7;
  color: #eceff7;
}
.container .infos .second_info .left .counter .minus,
.container .infos .second_info .left .counter .plus {
  width: 42px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.container .infos .second_info .left .counter .number {
  border: 1px solid #dfe2e9;
  width: 90px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}
.container .infos .second_info .right {
  width: 100%;
  resize: none;
  border-radius: 0.5rem;
  border: 1px solid #dfe2e9;
  padding: 15px;
  outline: none;
}
.container .infos .third_info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.container .infos .third_info h5 {
  margin-bottom: 5px;
}
.container .infos .third_info .info_btn {
  height: 42px;
  padding: 10px 30px;
  border: none;
  border-radius: 0.5rem;
  background-color: #f8d24a;
  font-weight: 700;
  cursor: pointer;
}
.container .basket_btns {
  display: flex;
  gap: 10px;
  height: 30px;
}
.container .basket_btns .fa-rectangle-xmark {
  font-size: 30px;
  color: rgb(224, 78, 78);
  cursor: pointer;
}
.container .basket_btns .fa-rectangle-xmark:hover {
  color: rgb(251, 140, 140);
  transition: all ease-in-out 0.1s;
}
.container .basket_btns .fa-heart {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 1px solid #dfe2e9;
  color: #f8d24a;
  border-radius: 0.3rem;
  cursor: pointer;
}
.container .basket_btns .heart:hover {
  background-color: #f8d24a;
  color: #000;
  transition: all ease-in-out 0.1s;
}
.container .basket_btns .fill-heart:hover {
  background-color: #f8d24a;
  color: white;
  transition: all ease-in-out 0.1s;
}

#footer {
  margin-top: 100px;
  border-top: 1px solid #dfe2e9;
}
#footer #first {
  display: flex;
  padding: 2% 10%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dfe2e9;
}
#footer #first .f-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#footer #first .f-div h2 {
  font-size: 14px;
  color: #8390a2;
  font-weight: normal;
}
#footer #first .f-div h1 {
  font-size: 16px;
  font-weight: 500;
  color: #48545d;
}
#footer #first .f-div h1:hover {
  color: #f8d24a;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
#footer .socials {
  display: flex;
  gap: 15px;
}
#footer .socials i {
  padding: 8px;
}
#footer .socials i:hover {
  background-color: #f8d24a;
  cursor: pointer;
  border-radius: 5px;
  transition: all ease-in-out 0.2s;
}
#footer #second {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
}
#footer #second h1 {
  font-size: 14px;
  font-weight: 400;
  color: #48545d;
}

.bottom_menu {
  display: none;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  position: fixed;
  bottom: 0;
  color: #fff;
  width: 100%;
  height: 50px;
  z-index: 1000;
  background-color: white;
  padding: 30px;
  border-top: 1px solid #dfe2e9;
  font-weight: 400;
}
.bottom_menu .thisa {
  font-size: 22px;
  color: #fadb6e;
}
.bottom_menu .othera {
  font-size: 18px;
}
.bottom_menu a {
  text-decoration: none;
  color: #8390a2;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

@media screen and (max-width: 1300px) {
  .single_product {
    flex-direction: column;
    padding: 5%;
  }
  .wrapper .card {
    width: 32%;
  }
}
@media screen and (max-width: 1200px) {
  .wrapper {
    justify-content: center;
  }
  .wrapper .card {
    width: 30%;
  }
}
@media screen and (max-width: 1024px) {
  #main #first {
    padding: 16px 20px;
  }
  #main #second {
    padding: 20px;
  }
  #main #second .links {
    display: none;
  }
  #main #second .buttons {
    display: flex;
    align-items: center;
  }
  #main #second .buttons .loginbtn {
    display: none;
  }
  #main #second .buttons .fa-circle-user {
    display: block;
  }
  #main #second .buttons .fa-bars {
    display: flex;
  }
  #main #second .buttons .fa-bars:hover {
    color: #8390a2;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
  }
  #footer #first {
    padding: 20px;
    flex-wrap: wrap;
    gap: 50px;
  }
  .carusel {
    padding: 20px;
  }
  .carusel .swiper {
    height: 500px;
  }
  .wrapper {
    padding: 20px 0;
  }
  .wrapper .card {
    width: 48%;
    align-items: center;
  }
  .wrapper .card_image {
    width: 264px;
    height: 282px;
  }
  .about_wrapper {
    padding: 20px;
  }
  .about_wrapper .requisites .req_second .req_second_wrap {
    gap: 20px;
  }
  .single_product {
    padding: 20px;
  }
  .container {
    margin: 30px;
  }
}
@media screen and (max-width: 917px) {
  .req_third {
    margin-top: 100px;
  }
}
@media screen and (max-width: 800px) {
  .second {
    flex-direction: column;
  }
  .second iframe {
    width: 100%;
    height: 300px;
  }
  .container {
    flex-direction: column;
  }
  .container #basket_btns {
    display: none;
  }
  .container .infos .second_info {
    flex-wrap: wrap;
  }
  .container .image {
    display: flex;
    justify-content: space-between;
  }
  .container .image #hidden_btns {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 765px) {
  .single_product .product_wrapper {
    flex-direction: column;
  }
  .single_product .product_wrapper .description_wrapper {
    width: 100%;
  }
  .single_product .product_wrapper .description_wrapper h3 {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  #main #second {
    padding: 5px 20px;
  }
  #main #second .logo {
    width: 40px;
  }
  #main #second .buttons .likeButton {
    padding: 6px;
  }
  #main #second .buttons .basket {
    padding: 6px;
  }
  #main #second .buttons .basket span {
    display: none;
  }
  #main #second .buttons .fa-circle-user {
    padding: 6px;
    font-size: 16px;
    font-weight: 300;
  }
  .carusel {
    padding: 20px;
  }
  .carusel .swiper {
    height: 400px;
  }
  .wrapper {
    padding: 20px 0;
  }
  .wrapper .card {
    width: 92%;
    align-items: center;
  }
  .wrapper .card_image {
    width: 264px;
    height: 282px;
  }
  .req_second {
    flex-direction: column;
  }
  .req_third {
    margin-top: 180px;
  }
}
@media screen and (max-width: 500px) {
  #back-to-top {
    bottom: 70px;
    width: 35px;
    height: 35px;
    right: 10px;
    font-size: 13px;
  }
  .bottom_menu {
    display: flex;
  }
  .fixedMenu {
    top: 50px;
  }
  .likeButton {
    display: none;
  }
  .basket {
    display: none;
  }
  .mini {
    display: none;
  }
  #footer {
    padding-bottom: 50px;
  }
  #footer #first {
    flex-direction: column;
    gap: 8px;
    align-items: start;
  }
  #footer #first .f-div h2,
  #footer #first .f-div h1 {
    font-size: 12px;
  }
  #footer #second {
    padding: 20px;
    text-align: center;
  }
  #footer #second h1 {
    font-size: 12px;
  }
  .carusel {
    padding: 20px;
  }
  .carusel .swiper {
    height: 200px;
  }
  .carusel .swiper .swiper-pagination-bullet {
    width: 30px;
    height: 3px;
    border-radius: 10px;
  }
  .title h1 {
    font-size: 26px;
  }
  .title h4 {
    font-size: 14px;
  }
  .single_product .product_wrapper .swiper {
    width: 100%;
  }
  .single_product .product_wrapper .swiper .thumbs {
    height: 80px;
  }
  .single_product .basket_wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 430px) {
  .req_third {
    margin-top: 300px;
  }
  .single_product .product_wrapper .swiper .thumbs {
    height: 70px;
  }
}/*# sourceMappingURL=home.css.map */