$green: #549f58;
$background: #fbfbfb;
$border_color: #dfe2e9;
$green_pale: #549f58c5;
$gray: #898989;
$white: #ffff;
$header_background: #282d30;
$route_gray: #48545d;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  background-color: $background;
  line-height: 1.4;
  font-size: 14px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html {
  scroll-behavior: smooth;
}

/// Scroll Up
#back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: $green;
  color: #fff;
  border-radius: 100%;
  text-decoration: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 18px;
  transition: opacity 0.3s, visibility 0.3s;
}

////  LOADINGGGGGGGGGGG
.loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
  }
}

// HEADER
#main {
  #first {
    display: flex;
    justify-content: space-between;
    background-color: $header_background;
    color: $white;
    padding: 16px 10%;
    font-size: 12px;
    h4 {
      font-weight: normal;
    }
    select {
      background: inherit;
      color: $white;
      border: none;
      display: flex;
      outline: none;
    }
  }

  #second {
    display: flex;
    padding: 16px 10%;
    background-color: $white;
    align-items: center;
    justify-content: space-between;
    .logo {
      width: 50px;
    }
    .links {
      display: flex;
      gap: 25px;
      font-size: 16px;
      a {
        text-decoration: none;
        position: relative;
      }
      .thisa {
        color: black;
        border-bottom: 2px solid $green;
        padding-bottom: 5px;
        font-weight: 600;
        color: black;
      }
      .othera {
        color: $gray;
        font-weight: 600;
      }
      .othera::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $green;
        transition: width 0.3s ease;
      }

      .othera:hover::before {
        width: 100%;
      }

      .othera:hover {
        color: black;
      }
    }
    .buttons {
      display: flex;
      gap: 10px;

      .likeButton {
        padding: 12px 14px;
        background: $white;
        border: 1px solid $border_color;
        border-radius: 5px;
      }
      .basket {
        padding: 12px 14px;
        background: $white;
        border: 1px solid $border_color;
        color: $gray;
        font-size: 16px;
        border-radius: 5px;
      }
      .loginbtn {
        padding: 12px 20px;
        background: $green;
        border: none;
        color: $white;
        font-size: 16px;
        border-radius: 5px;
      }
    }
  }
  .fixed {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid $border_color;
    z-index: 1000;
  }
  .sticky {
    position: sticky;
    top: 0;
    border-bottom: 1px solid $border_color;
  }

  #third {
    padding: 16px 10%;
    border-bottom: 0.5px solid $border_color;
    background-color: $white;
    h1 {
      display: flex;
      gap: 5px;
      font-size: 12px;
    }
    .home {
      text-decoration: none;
      color: #bebfc9;
    }
    .home:hover {
      color: $route_gray;
    }
    .allproducts {
      text-decoration: none;
      color: $route_gray;
    }
  }
  .logo {
    width: 50px;
  }
  option {
    background-color: $white;
    color: black;
  }
  @media screen and (max-width: 1024px) {
    #first {
      padding: 16px 20px;
    }
  }
}

// // // SWIPER
.carusel {
  padding: 0 10% 0 10%;
  .swiper {
    border-radius: 1rem;
    height: 600px;

    .swiper-pagination-bullet {
      width: 50px;
      height: 5px;
      border-radius: 10px;
    }
    .swiper-pagination-bullet-active {
      background-color: $green;
    }
    .swiper-wrapper {
      display: flex;
    }
    .swiper-slide {
      width: 100%;
      height: 100%;
      background-size: cover;
      // background-size: contain;
      // background-repeat: no-repeat;
      // background-position: center;
    }
  }
}

.wrapper {
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  .card {
    width: 280px;
    height: 440px;
    margin: 1% 0%;
    background-color: $white;
    background-size: cover;
    border-radius: 1rem;
    border: 1px solid $border_color;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card:hover {
    box-shadow: rgba(9, 30, 15, 0.2) 0px 0px 10px 0px;
    transition: all 0.3s ease-in-out;
  }
  .card_image {
    width: 100%;
    height: 65%;
  }
  .card_button {
    background-color: $green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: $white;
    border: none;
    width: 80%;

    height: 36px;
    transition: all 0.2s;
    border-radius: 5px;
  }
  .card_button:hover {
    background-color: $green_pale;
  }
  .card_footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .fa-heart {
    font-size: 24px;
    color: $green;
  }
  .card_price {
    color: $gray;
    font-weight: 700;
  }
  .card_description {
    width: 100%;
    height: 48px;
    overflow: hidden;
    font-weight: 400;
    text-overflow: ellipsis;
  }
}

.title {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
  h1 {
    font-size: 44px;
  }
  h4 {
    color: $gray;
    margin-top: 18px;
    font-size: 17px;
  }
}

//////////////// About  us /////////////////
.about_wrapper {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .requisites {
    display: flex;
    flex-direction: column;
    gap: 35px;
    border: 1px solid $border_color;
    padding: 30px;
    border-radius: 1rem;
    .req_second {
      height: 100px;
      display: flex;
      gap: 25px;
      .req_logo {
        width: 150px;
        border: 0.5px solid $border_color;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
          width: 100px;
        }
      }
      .req_second_wrap {
        display: flex;
        gap: 200px;
        .req_second_item {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .element {
            display: flex;
            flex-direction: column;
            gap: 5px;
            h4 {
              font-weight: 100;
              color: $gray;
            }
          }
        }
      }
    }
    .req_third {
      display: flex;
      flex-direction: column;
      gap: 25px;
      color: $gray;
      font-weight: 600;
    }
  }
  .about {
    display: flex;
    flex-direction: column;
    border: 1px solid $border_color;
    padding: 30px;
    border-radius: 1rem;
    .second {
      display: flex;
      justify-content: space-between;
      .second_item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .element {
          display: flex;
          flex-direction: column;
          gap: 5px;
          h4 {
            font-weight: 100;
            color: $gray;
          }
          .socials {
            display: flex;
            gap: 15px;
            i {
              padding: 8px;
            }
            i:hover {
              background-color: $green;
              cursor: pointer;
              color: $white;
              border-radius: 5px;
              transition: all ease-in-out 0.2s;
            }
          }
        }
      }
      iframe:focus {
        outline: none;
        border: none;
      }
    }
  }
}

///////////////////Single Productttttttttttttttttttttt ///////////////////////
.single_product {
  padding: 0 10%;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  .product_wrapper {
    display: flex;
    text-align: start;
    gap: 30px;
    background-color: $white;
    padding: 30px;
    border: 1px solid $border_color;
    border-radius: 1rem;
    .swiper {
      width: 390px;
      margin-left: auto;
      margin-right: auto;
      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        border: 1px solid $border_color;
        border-radius: 0.5rem;
        img {
          display: block;
          width: 70%;
          height: 100%;
          object-fit: cover;
        }
      }
      .mainSwiper {
        height: 300px;
      }
      .thumbs {
        height: 100px;
        box-sizing: border-box;
        padding: 10px 0;
        .swiper-slide-thumb-active {
          opacity: 1;
          border: 2px solid $green;
        }
      }
    }
    .description_wrapper {
      width: 400px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      span {
        color: $gray;
        font-size: 12px;
        font-weight: 400;
      }
      h3 {
        width: 300px;
        font-size: 18px;
      }
      h5 {
        margin-top: 10px;
        font-weight: 400;
        line-height: 2;
        a {
          text-decoration: none;
          color: black;
          font-weight: 800;
        }
      }
      hr {
        border: 0.5px solid $border_color;
      }
      .counter {
        margin-top: 5px;
        display: flex;
        font-size: 25px;
        justify-content: space-between;
        width: 174px;
        .minus {
          border-top-left-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
          border: 1px solid $border_color;
          color: $route_gray;
        }
        .plus {
          border-top-right-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;
          border: 1px solid $border_color;
          color: $route_gray;
        }
        .minus_unable {
          border: 1px solid #eceff7;
          color: #eceff7;
        }
        .minus_able {
          border: 1px solid $border_color;
          color: $route_gray;
        }
        .plus_unable {
          border: 1px solid #eceff7;
          color: #eceff7;
        }
        .minus,
        .plus {
          width: 42px;
          height: 42px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
        }
        .number {
          border: 1px solid $border_color;
          width: 90px;
          font-size: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 400;
        }
      }
    }
  }
  .basket_wrapper {
    background-color: $white;
    border: 1px solid $border_color;
    border-radius: 1rem;
    width: 320px;
    text-align: start;
    height: 320px;
    p {
      font-size: 11px;
      font-weight: 300;
      line-height: 1.7;
      span {
        font-size: 13px;
        font-weight: 400;
      }
    }
    .count {
      padding: 10px;
    }
    .total {
      padding: 10px;

      span {
        font-weight: 500;
        font-size: 16px;
      }
    }
    hr {
      width: 100%;
    }

    .delivery {
      padding: 10px;
      position: relative;
      h5 {
        font-weight: 400;
        padding-bottom: 10px;
      }
      span {
        font-weight: 500;
      }
      .address {
        font-size: 12px;
        font-weight: 400;
      }
      .delivery_wrap {
        border: 1px solid $border_color;
        padding: 10px;
        border-radius: 0.5rem;
        .select{
          cursor: pointer;
        }
      }
      .delivery_variant {
        display: none;
        position: absolute;
        width: 94%;
        padding: 5px;
        box-shadow: rgba(9, 30, 15, 0.2) 0px 0px 10px 0px;
        transition: all 0.3s ease-in-out;
        background-color: $white;
        .del_var_el {
          border: 1px solid $border_color;
          border-radius: 0.5rem;
          padding: 5px;
          cursor: pointer;
        }
        .del_var_el:hover {
          border: 1px solid $green;
          transition: all 0.2s ease-in-out;
        }
      }
    }
    .delivery_footer {
      padding: 0 10px;
      .button {
        padding: 10px;
        width: 100%;
        border-radius: 0.5rem;
        border: none;
        background-color: $green;
        color: $white;
        font-size: 16px;
      }
    }
  }
}

// // // // // FOoter
#footer {
  margin-top: 50px;
  border-top: 1px solid $border_color;
  #first {
    display: flex;
    padding: 2% 10%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $border_color;
    .f-div {
      display: flex;
      flex-direction: column;
      gap: 15px;
      h2 {
        font-size: 14px;
        color: $gray;
        font-weight: normal;
      }
      h1 {
        font-size: 16px;
        font-weight: 600;
      }
      h1:hover {
        color: $green;
        cursor: pointer;
        transition: all ease-in-out 0.2s;
      }
    }
  }
  .socials {
    display: flex;
    gap: 15px;
    i {
      padding: 8px;
    }
    i:hover {
      background-color: $green;
      cursor: pointer;
      color: $white;
      border-radius: 5px;
      transition: all ease-in-out 0.2s;
    }
  }

  #second {
    display: flex;
    height: 60px;
    // background-color: #549f58;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 14px;
      font-weight: 500;
    }
  }
}

::selection {
  background-color: $green_pale; /* Orange background color */
  color: $white; /* White text color */
}
