* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #fbfbfb;
  font-size: 14px;
}

#main {
  position: relative;
}
#main #first {
  display: flex;
  justify-content: space-between;
  background-color: #282d30;
  color: white;
  padding: 16px 10%;
  font-size: 12px;
}
#main #first h4 {
  font-weight: normal;
}
#main #first select {
  background: inherit;
  color: white;
  border: none;
  display: flex;
}
#main #second {
  position: sticky;
  top: 0; /* Adjust this value as needed */
  display: flex;
  padding: 16px 10%;
  background-color: white;
  align-items: center;
  z-index: 100;
  justify-content: space-between;
}
#main #second .logo {
  width: 50px;
}
#main #second .links {
  display: flex;
  gap: 25px;
}
#main #second .links a {
  text-decoration: none;
}
#main #second .links .thisa {
  color: black;
  border-bottom: 1px solid #549f58;
  padding-bottom: 5px;
  font-weight: 600;
  color: black;
}
#main #second .links .othera {
  color: #898989;
  font-weight: 600;
}
#main #second .links .othera:hover {
  color: black;
  transition: all ease-in-out 0.2s;
  border-bottom: 1px solid #549f58;
}
#main #second .buttons {
  display: flex;
  gap: 10px;
}
#main #second .buttons .likeButton {
  padding: 12px 14px;
  background: white;
  border: 1px solid #dfe2e9;
  border-radius: 5px;
}
#main #second .buttons .basket {
  padding: 12px 14px;
  background: white;
  border: 1px solid #dfe2e9;
  color: #898989;
  font-size: 16px;
  border-radius: 5px;
}
#main #second .buttons .loginbtn {
  padding: 12px 20px;
  background: #549f58;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}
#main #third {
  padding: 16px 10%;
  border-bottom: 1px solid #dfe2e9;
}
#main #third h1 {
  display: flex;
  gap: 5px;
  font-size: 12px;
}
#main #third .home {
  text-decoration: none;
  color: #777;
}
#main #third .allproducts {
  text-decoration: none;
  color: black;
}
#main .logo {
  width: 50px;
}
#main option {
  background-color: white;
  color: black;
}
@media screen and (max-width: 1024px) {
  #main #first {
    padding: 16px 20px;
  }
}
#main #third {
  padding: 16px 10%;
  border-bottom: 1px solid #dfe2e9;
}
#main #third h1 {
  display: flex;
  gap: 5px;
  font-size: 12px;
}
#main #third .home {
  text-decoration: none;
  color: #777;
}
#main #third .allproducts {
  text-decoration: none;
  color: black;
}

.carusel {
  padding: 2% 10%;
}
.carusel .swiper {
  border-radius: 1rem;
  height: 600px;
}
.carusel .swiper .swiper-pagination-bullet {
  width: 50px;
  height: 5px;
  border-radius: 10px;
}
.carusel .swiper .swiper-pagination-bullet-active {
  background-color: #549f58;
}
.carusel .swiper .swiper-wrapper {
  display: flex;
}
.carusel .swiper .swiper-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.wrapper {
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.wrapper .card {
  width: 280px;
  height: 440px;
  margin: 1% 0%;
  background-color: white;
  background-size: cover;
  border-radius: 1rem;
  border: 1px solid #dfe2e9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper .card:hover {
  box-shadow: rgba(9, 30, 15, 0.2) 0px 0px 10px 0px;
  transition: all 0.3s ease-in-out;
}
.wrapper .card_image {
  width: 100%;
  height: 65%;
}
.wrapper .card_button {
  background-color: #549f58;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: white;
  border: none;
  width: 80%;
  height: 36px;
  transition: all 0.2s;
  border-radius: 5px;
}
.wrapper .card_button:hover {
  background-color: rgba(84, 159, 88, 0.7725490196);
}
.wrapper .card_footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .fa-heart {
  font-size: 24px;
  color: #549f58;
}
.wrapper .card_price {
  color: #898989;
  font-weight: 700;
}
.wrapper .card_description {
  width: 100%;
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 2% 10%;
  text-align: center;
}
.title h1 {
  font-size: 44px;
}
.title h2 {
  margin-top: 20px;
  font-size: 16px;
  color: #898989;
  margin-bottom: 100px;
}
.title h4 {
  color: #898989;
  margin-top: 18px;
  font-size: 17px;
}

.about_wrapper {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about_wrapper .requisites {
  display: flex;
  flex-direction: column;
  gap: 35px;
  border: 1px solid #dfe2e9;
  padding: 30px;
  border-radius: 1rem;
}
.about_wrapper .requisites .req_second {
  height: 100px;
  display: flex;
  gap: 25px;
}
.about_wrapper .requisites .req_second .req_logo {
  width: 150px;
  border: 0.5px solid #dfe2e9;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_wrapper .requisites .req_second .req_logo .logo {
  width: 100px;
}
.about_wrapper .requisites .req_second .req_second_wrap {
  display: flex;
  gap: 200px;
}
.about_wrapper .requisites .req_second .req_second_wrap .req_second_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about_wrapper .requisites .req_second .req_second_wrap .req_second_item .element {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.about_wrapper .requisites .req_second .req_second_wrap .req_second_item .element h4 {
  font-weight: 100;
  color: #898989;
}
.about_wrapper .requisites .req_third {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #898989;
  font-weight: 600;
}
.about_wrapper .about {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfe2e9;
  padding: 30px;
  border-radius: 1rem;
}
.about_wrapper .about .second {
  display: flex;
  justify-content: space-between;
}
.about_wrapper .about .second .second_item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.about_wrapper .about .second .second_item .element {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.about_wrapper .about .second .second_item .element h4 {
  font-weight: 100;
  color: #898989;
}
.about_wrapper .about .second .second_item .element .socials {
  display: flex;
  gap: 15px;
}
.about_wrapper .about .second .second_item .element .socials i {
  padding: 8px;
}
.about_wrapper .about .second .second_item .element .socials i:hover {
  background-color: #549f58;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  transition: all ease-in-out 0.2s;
}
.about_wrapper .about .second iframe:focus {
  outline: none;
  border: none;
}

#footer {
  margin-top: 50px;
  border-top: 1px solid #dbdbdb;
}
#footer #first {
  display: flex;
  padding: 2% 10%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
}
#footer #first .f-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#footer #first .f-div h2 {
  font-size: 14px;
  color: #888;
  font-weight: normal;
}
#footer #first .f-div h1 {
  font-size: 16px;
  font-weight: 600;
}
#footer #first .f-div h1:hover {
  color: #549f58;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
#footer .socials {
  display: flex;
  gap: 15px;
}
#footer .socials i {
  padding: 8px;
}
#footer .socials i:hover {
  background-color: #549f58;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  transition: all ease-in-out 0.2s;
}
#footer #second {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
#footer #second h1 {
  font-size: 14px;
  font-weight: 500;
}/*# sourceMappingURL=home.css.map */