@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  background-color: #fbfbfb;
  line-height: 1.4;
  font-size: 14px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html {
  scroll-behavior: smooth;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #dfe2e9;
}

.fixedMenu {
  position: fixed;
  top: 80px;
  width: 100%;
}

#back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #549f58;
  color: #fff;
  border-radius: 100%;
  text-decoration: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 18px;
  transition: opacity 0.3s, visibility 0.3s;
}

.loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}
.loading img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
}

#main #first {
  display: flex;
  justify-content: space-between;
  background-color: #282d30;
  color: white;
  padding: 16px 10%;
  font-size: 12px;
}
#main #first h4 {
  font-weight: normal;
}
#main #first select {
  background: inherit;
  color: white;
  border: none;
  display: flex;
  outline: none;
}
#main #second {
  display: flex;
  padding: 16px 10%;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
#main #second .logo {
  width: 50px;
}
#main #second .links {
  display: flex;
  gap: 25px;
  font-size: 16px;
}
#main #second .links a {
  text-decoration: none;
  position: relative;
}
#main #second .links .thisa {
  color: black;
  border-bottom: 2px solid #549f58;
  padding-bottom: 5px;
  font-weight: 500;
}
#main #second .links .othera {
  color: #898989;
  font-weight: 500;
}
#main #second .links .othera::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #549f58;
  transition: width 0.3s ease;
}
#main #second .links .othera:hover::before {
  width: 100%;
}
#main #second .links .othera:hover {
  color: black;
}
#main #second .buttons {
  display: flex;
  gap: 10px;
}
#main #second .buttons .likeButton {
  padding: 12px 14px;
  background: white;
  border: 1px solid #dfe2e9;
  border-radius: 5px;
}
#main #second .buttons .basket {
  padding: 12px 14px;
  background: white;
  border: 1px solid #dfe2e9;
  color: #898989;
  font-size: 16px;
  border-radius: 5px;
}
#main #second .buttons .loginbtn {
  padding: 12px 20px;
  background: #549f58;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}
#main #second .buttons .fa-circle-user {
  background-color: #549f58;
  color: white;
  font-size: 25px;
  padding: 10px;
  border-radius: 5px;
  display: none;
}
#main #second .buttons .fa- bars {
  display: none;
}
#main #second .buttons .ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#main #second .buttons .hamRotate.active {
  transform: rotate(45deg);
}
#main #second .buttons .hamRotate180.active {
  transform: rotate(180deg);
}
#main #second .buttons .line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}
#main #second .buttons .ham1 .top {
  stroke-dasharray: 40 139;
}
#main #second .buttons .ham1 .bottom {
  stroke-dasharray: 40 180;
}
#main #second .buttons .ham1.active .top {
  stroke-dashoffset: -98px;
}
#main #second .buttons .ham1.active .bottom {
  stroke-dashoffset: -138px;
}
#main .hiding_menu {
  padding-top: 20px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 25px;
  width: 100%;
  height: 100vh;
  background-color: #fbfbfb;
  z-index: 3;
}
#main .hiding_menu a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
#main .hiding_menu .thisa {
  color: black;
  border-bottom: 2px solid #549f58;
  padding-bottom: 5px;
  font-weight: 500;
}
#main .hiding_menu .othera {
  color: #898989;
  font-weight: 500;
}
#main .hiding_menu .othera:hover {
  border-bottom: 1px solid #549f58;
  color: black;
  transition: all ease-in-out 0.3s;
}
#main #third {
  padding: 16px 10%;
  border-bottom: 0.5px solid #dfe2e9;
  background-color: white;
}
#main #third h1 {
  display: flex;
  gap: 5px;
  font-size: 12px;
}
#main #third .home {
  text-decoration: none;
  color: #bebfc9;
}
#main #third .home:hover {
  color: #48545d;
}
#main #third .allproducts {
  text-decoration: none;
  color: #48545d;
}
#main .logo {
  width: 50px;
}
#main option {
  background-color: white;
  color: black;
}

.carusel {
  padding: 2% 10%;
}
.carusel .swiper {
  border-radius: 1rem;
  height: 600px;
}
.carusel .swiper .swiper-pagination-bullet {
  width: 50px;
  height: 5px;
  border-radius: 10px;
}
.carusel .swiper .swiper-pagination-bullet-active {
  background-color: #549f58;
}
.carusel .swiper .swiper-wrapper {
  display: flex;
}
.carusel .swiper .swiper-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.wrapper {
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.wrapper .card {
  width: 22%;
  height: 440px;
  margin: 1% 0%;
  background-color: white;
  background-size: cover;
  border-radius: 1rem;
  border: 1px solid #dfe2e9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper .card:hover {
  box-shadow: rgba(9, 30, 15, 0.2) 0px 0px 10px 0px;
  transition: all 0.3s ease-in-out;
}
.wrapper .card_image {
  width: 100%;
  height: 65%;
}
.wrapper .card_button {
  background-color: #549f58;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: white;
  border: none;
  width: 80%;
  height: 36px;
  transition: all 0.2s;
  border-radius: 5px;
}
.wrapper .card_button:hover {
  background-color: rgba(84, 159, 88, 0.7725490196);
}
.wrapper .card_footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .fa-heart {
  font-size: 24px;
  color: #549f58;
}
.wrapper .card_price {
  color: #898989;
  font-weight: 700;
}
.wrapper .card_description {
  width: 100%;
  height: 48px;
  overflow: hidden;
  font-weight: 400;
  text-overflow: ellipsis;
}

.title {
  margin: 4%;
  text-align: center;
}
.title h1 {
  font-size: 44px;
}
.title h4 {
  color: #898989;
  margin-top: 18px;
  font-size: 17px;
}

.about_wrapper {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about_wrapper .requisites {
  display: flex;
  flex-direction: column;
  gap: 35px;
  border: 1px solid #dfe2e9;
  padding: 30px;
  border-radius: 1rem;
}
.about_wrapper .requisites .req_second {
  height: 100px;
  display: flex;
  gap: 25px;
}
.about_wrapper .requisites .req_second .req_logo {
  width: 150px;
  border: 0.5px solid #dfe2e9;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_wrapper .requisites .req_second .req_logo .logo {
  width: 100px;
}
.about_wrapper .requisites .req_second .req_second_wrap {
  display: flex;
  gap: 200px;
}
.about_wrapper .requisites .req_second .req_second_wrap .req_second_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about_wrapper .requisites .req_second .req_second_wrap .req_second_item .element {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.about_wrapper .requisites .req_second .req_second_wrap .req_second_item .element h4 {
  font-weight: 100;
  color: #898989;
}
.about_wrapper .requisites .req_third {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #898989;
  font-weight: 600;
}
.about_wrapper .about {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfe2e9;
  padding: 30px;
  border-radius: 1rem;
}
.about_wrapper .about .second {
  display: flex;
  justify-content: space-between;
}
.about_wrapper .about .second .second_item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.about_wrapper .about .second .second_item .element {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.about_wrapper .about .second .second_item .element h4 {
  font-weight: 100;
  color: #898989;
}
.about_wrapper .about .second .second_item .element .socials {
  display: flex;
  gap: 15px;
}
.about_wrapper .about .second .second_item .element .socials i {
  padding: 8px;
}
.about_wrapper .about .second .second_item .element .socials i:hover {
  background-color: #549f58;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  transition: all ease-in-out 0.2s;
}
.about_wrapper .about .second iframe:focus {
  outline: none;
  border: none;
}

.single_product {
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
}
.single_product .product_wrapper {
  padding: 30px;
  border: 1px solid #dfe2e9;
  border-radius: 1rem;
}
.single_product .basket_wrapper {
  padding: 10px;
  border: 1px solid #dfe2e9;
  border-radius: 1rem;
}

#footer {
  margin-top: 50px;
  border-top: 1px solid #dfe2e9;
}
#footer #first {
  display: flex;
  padding: 2% 10%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dfe2e9;
}
#footer #first .f-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#footer #first .f-div h2 {
  font-size: 14px;
  color: #898989;
  font-weight: normal;
}
#footer #first .f-div h1 {
  font-size: 16px;
  font-weight: 600;
}
#footer #first .f-div h1:hover {
  color: #549f58;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
#footer .socials {
  display: flex;
  gap: 15px;
}
#footer .socials i {
  padding: 8px;
}
#footer .socials i:hover {
  background-color: #549f58;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  transition: all ease-in-out 0.2s;
}
#footer #second {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
}
#footer #second h1 {
  font-size: 14px;
  font-weight: 500;
}

.bottom_menu {
  display: none;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  position: fixed;
  bottom: 0;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 18px;
  z-index: 1000;
  background-color: white;
  padding: 30px;
  border-top: 1px solid #dfe2e9;
}
.bottom_menu .thisa {
  color: rgba(84, 159, 88, 0.7725490196);
}
.bottom_menu a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    justify-content: center;
  }
  .wrapper .card {
    width: 25%;
  }
}
@media screen and (max-width: 1024px) {
  #main #first {
    padding: 16px 20px;
  }
  #main #second {
    padding: 20px;
  }
  #main #second .links {
    display: none;
  }
  #main #second .buttons {
    display: flex;
    align-items: center;
  }
  #main #second .buttons .loginbtn {
    display: none;
  }
  #main #second .buttons .fa-circle-user {
    display: block;
  }
  #main #second .buttons .fa-bars {
    display: block;
  }
  #main #second .buttons .fa-bars:hover {
    color: #898989;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
  }
  #footer {
    padding-top: 30px;
  }
  #footer #first {
    flex-wrap: wrap;
    gap: 50px;
  }
  .carusel {
    padding: 20px;
  }
  .carusel .swiper {
    height: 500px;
  }
  .wrapper {
    padding: 20px 0;
  }
  .wrapper .card {
    width: 48%;
    justify-content: center;
  }
  .wrapper .card_image {
    width: 264px;
    height: 282px;
  }
}
@media screen and (max-width: 640px) {
  #back-to-top {
    bottom: 70px;
  }
  #main #second {
    padding: 5px 20px;
  }
  #main #second .logo {
    width: 40px;
  }
  #main #second .buttons .likeButton {
    padding: 6px;
  }
  #main #second .buttons .basket {
    padding: 6px;
  }
  #main #second .buttons .basket span {
    display: none;
  }
  #main #second .buttons .fa-circle-user {
    padding: 6px;
    font-size: 16px;
    font-weight: 300;
  }
  .carusel {
    padding: 20px;
  }
  .carusel .swiper {
    height: 400px;
  }
  .wrapper {
    padding: 20px 0;
  }
  .wrapper .card {
    width: 92%;
    align-items: center;
  }
  .wrapper .card_image {
    width: 264px;
    height: 282px;
  }
}
@media screen and (max-width: 500px) {
  .bottom_menu {
    display: flex;
  }
  .fixedMenu {
    top: 50px;
  }
  .likeButton {
    display: none;
  }
  .basket {
    display: none;
  }
  .mini {
    display: none;
  }
  #footer {
    padding-bottom: 50px;
  }
  #footer #first {
    flex-direction: column;
    gap: 8px;
    align-items: start;
  }
  #footer #first .f-div h2,
  #footer #first .f-div h1 {
    font-size: 12px;
  }
  #footer #second {
    padding: 20px;
    text-align: center;
  }
  #footer #second h1 {
    font-size: 12px;
  }
  .carusel {
    padding: 20px;
  }
  .carusel .swiper {
    height: 200px;
  }
  .carusel .swiper .swiper-pagination-bullet {
    width: 30px;
    height: 3px;
    border-radius: 10px;
  }
}/*# sourceMappingURL=home.css.map */